.snap-banner-container{
    text-align: center;
    padding: 10px;
    cursor: pointer;
}
.blue-text{
    color: #184e90;
}
.text-center{
    text-align: center;
}
.text-right{
    text-align: right;
}
.popup-body img{
    width: 100px;
}
.payment-method-title.field.choice {
    display: flex;
}
#snap-checkout-button {
    float:left;
}
.snap_checkout{
    float:right;
    background-color: transparent !important; 
    box-shadow: none !important;
    border: none !important;
}
