<div class="payment-method" data-bind="css: {'_active': (getCode() == isChecked())}">
    <div class="payment-method-title field choice">
        <input type="radio"
               name="payment[method]"
               class="radio"
               data-bind="attr: {'id': getCode()}, value: getCode(), checked: isChecked, click:selectPaymentMethod, visible: isRadioButtonVisible()"/>
        <label data-bind="attr: {'for': getCode()}" class="label">
        <div id="snap-checkout-mark">
            <img data-bind="attr: {'src': getCheckoutLogo()}" />
        </div>
    </div>
    <div class="payment-method-content">
        <!-- ko foreach: getRegion('messages') -->
        <!-- ko template: getTemplate() --><!-- /ko -->
        <!--/ko-->
        <div class="payment-method-billing-address">
            <!-- ko foreach: $parent.getRegion(getBillingAddressFormName()) -->
            <!-- ko template: getTemplate() --><!-- /ko -->
            <!--/ko-->
        </div>
        <div class="checkout-agreements-block">
            <!-- ko foreach: $parent.getRegion('before-place-order') -->
                <!-- ko template: getTemplate() --><!-- /ko -->
            <!--/ko-->
        </div>        
        <div class="actions-toolbar">                                           
            <div id="snap-checkout-button" class="payment-button" afterRender="RenderSnap" style="display: none"></div>
            <div class="snap-banner-checkout-container">
                <a class="action primary" id="snap_checkout" data-bind="click:checkoutButton">
                   <!-- ko i18n: 'PAY WITH SNAP!'--><!-- /ko -->
                </a>
                <div class="text-pay-with-snap">Credit-challenged? Snap approves $150 up to $5,000 in accessible lease-to-own financing.</div>
            </div>
        </div>        
    </div>
</div>
