<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:module:Magento_Store:etc/config.xsd">
    <default>
        <payment>
            <snap_payment>
                <active>0</active>
                <model>Snapfinance\Payment\Model\PaymentMethod</model>
                <title>Snap Finance Checkout</title>
                <mode>stage</mode>
                <button_color>dark</button_color>
                <button_shape>rect</button_shape>
                <button_height>55</button_height>
                <minimum_order_total>0.01</minimum_order_total>
                <maximum_order_total>10000</maximum_order_total>
            </snap_payment>
        </payment>
    </default>
</config>
